.button {
    height: auto;
    width: auto;
    border-radius: 76px;
    background: #44474C;
    padding: 5px 15px 5px 15px;
    transition: 300ms;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
    &:hover {
        cursor: pointer;
        background: #393b3f;
    }
}

.main_button {
    @extend .button;
    background: #6C63FF;
    &:hover {
        background: #534ce1;
    }
}