.page_grid_layout {
  display: grid;
  width: 100vw;
  height: calc(100vh - 6em);
  margin-top: 4em;
  grid-gap: 20px;

  grid-template-rows: auto 1fr;
  grid-template-areas:
  "video"
  "chat";

  @media(min-width: 800px) {
    grid-template-columns: calc(80vw - 14em) auto;
    grid-template-areas:
    "video chat";
  }
}


