.container {
  background: #212121;
  grid-area: chat;
}

.inputBoxContainer {
  flex-direction: column-reverse;
  height: 100%;
  width: 100%;
}

.messageContainer {
  height: calc(100% - 20px);
  width: 90%;
  margin-bottom: 20px;
}

.inputBox {
  width: 90%;
  height: 2em;
  background: #393939;
}
