.container {
  background: #212121;
  grid-area: chat;

  @media(min-width: 800px) {
    width: 14em;
  }
}

.inputBoxContainer {
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.messageContainer {
  justify-content: space-between;
  height: calc(100% - 1em);
  width: 100%;
  margin-bottom: 20px;
}

.inputBox {
  width: calc(100% - 2.5em);
  height: 2em;
  background: #393939;
}

.iconContainer {
  @extend .inputBox;
  justify-content: flex-end;
  margin-top: 1em;
  background: rgba(0, 0, 0, 0);
}
