.drawer_container {
    position: fixed;
    left: 0;
    transition: 300ms;
    background: #181818;
}

.drawer_desktop {
    @extend .drawer_container;
    height: 100vh;
    width: 300px;
}

.drawer_mobile {
    @extend .drawer_container;
    height: 80vh;
    width: 100vw;
}