.container {
  width: 100%;
  height: auto;

  & * {
    height: 5em;
  }
}

.username {
  white-space: nowrap;
  font-family: roboto;
  color: purple;
}

.message {
  font-family: roboto;
  color: #CDCDD0;
}
