body {
  margin: 0;
  padding: 0;
  background: #121212;
  overflow-x: hidden;
}

// Utilities
$directions: (top, bottom, right, left);

@each $direction in $directions {
  @for $i from 0 through 60 {
     .m-#{$direction}#{$i*5}px { margin-#{$direction}: #{$i*5}px !important; }
     .m-#{$direction}#{$i*5}vh { margin-#{$direction}: #{$i*5}vh !important; }
     .m-#{$direction}#{$i*5}vw { margin-#{$direction}: #{$i*5}vw !important; }
     .p-#{$direction}#{$i*5}px { padding-#{$direction}: #{$i*5}px !important; }
  }
}
  
@for $i from 0 through 150 {
     .margin#{$i*5}px { margin: #{$i*5}px !important; }
     .height#{$i*5}px { height: #{$i*5}px !important; }
     .width#{$i*5}px  { width:  #{$i*5}px !important; }
}

.height_auto { height: auto !important }

.text_align_center { text-align: center !important; }

.height100vh { height: 100vh !important };
.height50 { height: 50% !important };
.height100 { height: 100% !important };

.width100vw { width: 100vw !important };
.width100 { width: 100% !important };
.width50 { width: 50% !important };

.margin_top_init {margin-top: initial !important };

.transparent {opacity: 0 !important; }
