body {
  margin: 0;
  padding: 0;
  background: #121212;
  overflow-x: hidden;
}

// Utilities
$directions: (top, bottom, right, left);

@each $direction in $directions {
  @for $i from 0 through 50 {
     .m-#{$direction}#{$i*4} { margin-#{$direction}: #{$i*4}px !important; }
     .-m-#{$direction}#{$i*4} { margin-#{$direction}: #{$i*-4}px !important; }
     .p-#{$direction}#{$i*4} { padding-#{$direction}: #{$i*4}px !important; }
     .-p-#{$direction}#{$i*4} { padding-#{$direction}: #{$i*-4}px !important; }
  }
}
  
@for $i from 0 through 150 {
     .margin#{$i*4}p { margin: #{$i*4}px !important; }
     .height#{$i*4}p { height: #{$i*4}px !important; }
     .width#{$i*4}p  { width:  #{$i*4}px !important; }
}

.text_align_center { text-align: center !important; }

.height100vh { height: 100vh !important };
.height50 { height: 50% !important };
.height100 { height: 100% !important };

.width100vw { width: 100vw !important };
.width100 { width: 100% !important };
.width50 { width: 50% !important };

.margin-top-init {margin-top: initial !important };

.transparent {opacity: 0 !important; }