// This is very messy because I forgot to start with mobile :/


@keyframes fade-in{
    from { transform: translateY(-100px); opacity: 0; }
    to { transform: translateY(0px); opacity: 1; }
}


.height-container {
    min-height: 150vh;
    width: 100%;
    flex-direction: row;
    justify-content: center;

    // Alternate image position
    &:nth-child(2) {
        flex-direction: row-reverse !important;
    }

    // Mobile
    @media(max-width: 1050px) {
        // Put image under content
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
        margin-top: 0px !important;

        // Don't alternate image position
        &:nth-child(2) {
            flex-direction: column !important;
        }

        &:first-child {
            margin-top: 100px !important;
        }
    }
}

.content-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 20px;
    height: 75vh;
    width: 50%;
    text-align: center;
    animation: 500ms fadeIn ease-in;
    transition: 400ms;

    // Mobile: Remove 'sticky' effect
    @media(max-width: 1050px) {
        // Dont fade in on mobile
        opacity: 1 !important;
        
        width: 100% !important;
        height: auto !important;
        position: initial !important;
    }
}

.image-container {
    justify-content: center;
    position: sticky;
    top: 100px;
    align-items: center;
    height: 75vh;
    width: 50%;
    transition: 400ms;

    @media(max-width: 1050px) {
        margin-top: initial !important;
        position: initial !important;
        opacity: 1 !important;
        width: 100% !important;
    }
}