// This is very messy because I forgot to start with mobile :/


@keyframes fade-in{
    from { transform: translateY(-100px); opacity: 0; }
    to { transform: translateY(0px); opacity: 1; }
}

.height_container {
    height: 100vh;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    
    // Alternate image position
    &:nth-child(2) {
        flex-direction: row-reverse !important;
    }

    // Mobile
    @media(max-width: 1050px) {
        // Put image under content
        flex-direction: column;
        align-items: center;
        margin-top: 0px !important;
        position: relative;
        // Don't alternate image position
        &:nth-child(2) {
            flex-direction: column !important;
        }

        &:first-child {
            margin-top: 25vh !important;
        }
    }
}

.content_box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 20px;
    height: 75vh;
    width: 50%;
    text-align: center;
    animation: 500ms fadeIn ease-in;
    transition: 400ms;

    @media(max-width: 1050px) {
        // Dont fade in on mobile
        opacity: 1 !important;
        
        width: 100% !important;
    }
}

.image_container {
    justify-content: center;
    top: 100px;
    align-items: center;
    height: 75vh;
    width: 50%;
    transition: 400ms;

    @media(max-width: 1050px) {
        opacity: 1 !important;
        width: 100% !important;
    }
}